@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-hanunoo-regular {
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.animation-rotate {
  animation: rotate 20s linear infinite;
}