#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

:root {
  --primary-color: 98 3 252;
  --secondary-color: 157 252 3;
}

.mainBody {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: radial-gradient(at 0% 0%,rgba(var(--primary-color) / .33) 0px,transparent 70%),radial-gradient(at 98% 1%,rgba(var(--secondary-color) / .33) 0px,transparent 70%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}