.contactWrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  position: relative;
  margin-left: 5%;
  justify-content: space-between;
}

.madsHermansen img {
  border-radius: 50%;
  border: rgba(255, 255, 255, 1) solid 1px;
  object-fit: cover;
  aspect-ratio: 1/1;
  align-self: center;
}

.mailMe {
  width: 100px;
  height: 100px;
  background-color: rgba(var(--secondary-color) / 0.7);
  padding: 30px;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mailMe path {
  transition: ease-in-out 0.2s;
}

.mailMe:hover {
  transform: scale(1.05);
}

/* For larger screens (e.g., desktops) */
@media (min-width: 1200px) {
  .madsHermansen img {
    width: 400px;
  }
}

/* For medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .madsHermansen img {
    width: 300px;
  }
}

/* Smaller screens */
@media (max-width: 767px) {
  .contactWrapper {
    flex-direction: column;
  }
  .madsHermansen img {
    width: 200px;
  }
}
