/* Container Styling */
.projectListWrapper {
    margin-top: 90px;
    padding-bottom: 50px;
    position: relative;
}

.projectList {
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    position: relative;
    max-width: 85%;
    left: 7.5%;
}

.projectBox {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: 0.1s ease-in-out;
    top: 0;
    position: relative;
    cursor: pointer;
    text-align: left;
    width: 100%;
}
/* For larger screens (e.g., desktops) */ 
@media (min-width: 1200px) {
    .projectList {
        grid-template-columns: repeat(auto-fill, minmax(min-content, 32%));
    }
}

/* For medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
    .projectList {
        grid-template-columns: repeat(auto-fill, minmax(min-content, 48%));
    }   
}

/* For smaller screens (e.g., phones) */
@media (max-width: 767px) {
    .projectList {
        grid-template-columns: repeat(auto-fill, minmax(min-content, 100%));
    }
}

.projectBox:hover {
    top: -5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.projectImage {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.projectBox p {
    margin: 0;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.technologies span{
    font-size: small;
    font-weight: 400;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: rgba(var(--secondary-color));
    background-color: rgba(var(--secondary-color) / 0.33);
}

.projectInfo {
    margin: 10px;
    position: relative;
}

.projectTitle {
    margin: 10px 0 0 0;
}

.skeletonLoader {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
    background-size: auto;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    position: absolute;
    aspect-ratio: 16/9;
    z-index: -1;
}

@keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}