.svg-triangle path {
  stroke-width: 50;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: transparent;
  transform: scale(2);
}

.svg-triangle {
  position: absolute;
  z-index: -1;
  overflow: visible;
  transform-origin: center;
}